@font-face {
	font-family: 'JetBrains Mono Italic';
	font-weight: '100 800';

	src: url('../assets/fonts/JetBrainsMono-Italic.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Inter';
	font-weight: '100 900';

	src: url('../assets/fonts/Inter.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Mohave';
	font-weight: '300 700';

	src: url('../assets/fonts/Mohave.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Modernist';
	font-weight: 700;

	src: url('../assets/fonts/Modernist-Bold.woff2') format('woff2');
}
